/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Charm:400,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,700");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ol, ul {
  list-style: none;
}

* {
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Charm", cursive;
  font-family: "Noto Serif TC", serif;
  overflow-x: hidden;
}

p {
  font-size: 20px;
}

header .navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive;
}

header .navbar-brand img {
  height: 2rem;
}

header .navbar-nav {
  font-size: 0;
}

header .nav-link {
  line-height: 30px;
  padding: 0 1.5rem !important;
  font-size: 20px;
  color: #e5e5e5 !important;
}

@media screen and (max-width: 768px) {
  header .nav-link {
    padding: 0.5rem 0 !important;
    text-align: center;
  }
}

header .nav-link.active {
  color: #eb2521 !important;
  background: #e5e5e5;
}

header .nav-link:hover {
  color: #eb2521 !important;
  background: #e5e5e5;
}

@media screen and (max-width: 768px) {
  header .navbar-toggler {
    background: #e5e5e5;
    border-radius: 0;
  }
}

#banner .banner {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(/images/logo/bg-1-1.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #banner .banner {
    min-height: 100vh;
    padding: 100px 0;
  }
}

@media screen and (max-width: 576px) {
  #banner .banner {
    min-height: 100vh;
    padding: 100px 0;
  }
}

#banner .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#070707), to(transparent));
  background: -o-linear-gradient(#070707, transparent);
  background: linear-gradient(#070707, transparent);
  pointer-events: none;
}

#banner .banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left bottom, left top, from(#070707), to(transparent));
  background: -o-linear-gradient(bottom, #070707, transparent);
  background: linear-gradient(360deg, #070707, transparent);
  pointer-events: none;
}

#banner .banner .height100p {
  height: 100%;
}

#banner .banner .content-box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10;
}

#banner .banner .content-box h1 {
  font-weight: 700;
  color: #eb2521;
  text-transform: uppercase;
  font-size: 60px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  #banner .banner .content-box h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  #banner .banner .content-box h1 {
    font-size: 30px;
  }
}

#banner .banner .content-box p {
  color: #e5e5e5;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  #banner .banner .content-box p {
    font-size: 18px;
  }
}

#banner .topdown {
  position: relative;
  top: 100px;
}

@media screen and (max-width: 576px) {
  #banner .topdown {
    top: 10px;
  }
}

#banner .btnD1 {
  border: 2px solid #e5e5e5;
  color: #e5e5e5;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 30px;
  outline: none;
  font-family: "Permanent Marker", cursive;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  #banner .btnD1 {
    font-size: 18px;
    padding: 0 8px;
  }
}

#banner .btnD1:hover {
  color: #eb2521;
  background-color: #e5e5e5;
}

section.sec1 {
  background: #070707;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  section.sec1 {
    padding: 20px 0;
  }
}

section.sec1 .headerText h2 {
  font-weight: bold;
  font-size: 30px;
  color: #eb2521;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  section.sec1 .headerText h2 {
    font-size: 20px;
  }
}

section.sec1 .headerText p {
  color: #e5e5e5;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  section.sec1 .headerText p {
    font-size: 18px;
  }
}

section.sec1 .placeBox {
  position: relative;
  max-width: 426.667px;
  height: 246px;
  margin: 0 auto;
  margin-top: 10px;
}

section.sec1 .placeBox .imgBox {
  width: 100%;
  height: 100%;
}

section.sec1 .placeBox img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

section.sec2 {
  position: relative;
  padding: 100px 0;
  background-color: #070707;
}

@media screen and (max-width: 768px) {
  section.sec2 {
    padding: 20px 0;
  }
}

section.sec2 .headerText h2 {
  font-weight: bold;
  font-size: 30px;
  color: #eb2521;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  section.sec2 .headerText h2 {
    font-size: 20px;
  }
}

section.sec2 .headerText p {
  color: #e5e5e5;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  section.sec2 .headerText p {
    font-size: 18px;
  }
}

section.sec2 .sec2-post {
  position: relative;
  width: 100%;
  margin-top: 30px;
  background: #e5e5e5;
}

section.sec2 .sec2-post .imgBox {
  width: 100%;
}

section.sec2 .sec2-post .imgBox img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.sec2 .content {
  padding: 10px;
}

section.sec2 .content h1 {
  margin: 0;
  padding: 0 0 10px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  section.sec2 .content h1 {
    font-size: 18px;
  }
}

section.sec2 .btnD1 {
  border: 2px solid #eb2521;
  color: #eb2521;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 20px;
  line-height: 30px;
  outline: none;
  font-family: "Permanent Marker", cursive;
  float: right;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  section.sec2 .btnD1 {
    font-size: 18px;
    padding: 0 8px;
  }
}

section.sec2 .btnD1:hover {
  color: #e5e5e5;
  border: 2px solid #070707;
  background-color: #070707;
}

section.sec3 {
  position: relative;
  padding: 100px 0;
  background-color: #070707;
}

@media screen and (max-width: 768px) {
  section.sec3 {
    padding: 20px 0;
  }
}

section.sec3 .headerText h2 {
  font-weight: bold;
  font-size: 30px;
  color: #eb2521;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  section.sec3 .headerText h2 {
    font-size: 20px;
  }
}

section.sec3 .sec3-post {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

section.sec3 .sec3-post .videoBox {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  width: 100%;
}

section.sec3 .sec3-post .videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

footer {
  padding: 50px 0 0;
  background-color: #070707;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 20px 0 0;
  }
}

footer .sci {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li {
  list-style: none;
  margin: 0 20px;
}

footer li a {
  color: #e5e5e5;
  font-size: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

footer li a:hover {
  color: #eb2521;
}

footer .cpryt {
  color: #e5e5e5;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  footer .cpryt {
    font-size: 16px;
  }
}

footer .cpryt a {
  color: #8b1515;
}

footer .cpryt a:hover {
  color: #eb2521;
}
/*# sourceMappingURL=all.css.map */