// section1
section.sec1 {
  background: $primary-color;
  padding: 100px 0;
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }

  .headerText {
    h2 {
      font-weight: bold;
      font-size: $font-size;
      color: $warning-color;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        font-size: $base-font-size;
      }
    }
    p {
      color: $light-color;
      font-size: $base-font-size;
      @media screen and (max-width: 768px) {
        font-size: $base-font-size * 0.9;
      }
    }
  }

  .placeBox {
    position: relative;
    max-width: 426.667px;
    height: 246px;
    margin: 0 auto;
    margin-top: 10px;
    .imgBox {
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// section2
section.sec2 {
  position: relative;
  padding: 100px 0;
  background-color: $primary-color;
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }
  .headerText {
    h2 {
      font-weight: bold;
      font-size: $font-size;
      color: $warning-color;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        font-size: $base-font-size;
      }
    }
    p {
      color: $light-color;
      font-size: $base-font-size;
      @media screen and (max-width: 768px) {
        font-size: $base-font-size * 0.9;
      }
    }
  }

  .sec2-post {
    position: relative;
    width: 100%;
    margin-top: 30px;
    background: $light-color;
    .imgBox {
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .content {
    padding: 10px;
    h1 {
      margin: 0;
      padding: 0 0 10px;
      font-size: $base-font-size;
      @media screen and (max-width: 768px) {
        font-size: $base-font-size * 0.9;
      }
    }
  }
  .btnD1 {
    border: 2px solid $warning-color;
    color: $warning-color;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: $base-font-size;
    line-height: $font-size;
    outline: none;
    font-family: "Permanent Marker", cursive;
    float: right;
    text-align: center;
    transition: 0.3s;
    @media screen and (max-width: 768px) {
      font-size: $base-font-size * 0.9;
      padding: 0 8px;
    }
    &:hover {
      color: $light-color;
      border: 2px solid $primary-color;
      background-color: $primary-color;
    }
  }
}

// section3
section.sec3 {
  position: relative;
  padding: 100px 0;
  background-color: $primary-color;
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }
  .headerText {
    h2 {
      font-weight: bold;
      font-size: $font-size;
      color: $warning-color;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        font-size: $base-font-size;
      }
    }
  }
  .sec3-post {
    position: relative;
    width: 100%;
    margin-top: 30px;
    // background: $light-color;
    .videoBox {
      position: relative;
      overflow: hidden;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      width: 100%;
      // height: 100%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // object-fit: cover;
      }
    }
  }
}
